.form {
  background-color: white;
  padding: 32px 20px 48px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 32px;
}
.input__group_wrapper {
  display: flex;
  column-gap: 25px;
}
.input__group {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  flex: 1;
  margin-bottom: 32px;
}
.input,
.textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.input:focus,
.textarea:focus {
  border-color: #565657;
  outline: none;
}

.textarea {
  resize: none;
  height: 150px;
}
.input__description {
  font-size: 14px;
}
