.container {
  background-color: #fff8f5;
  padding: 40px;
  border-radius: 10px;
}

.backButton {
  background-color: #c47f54;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.details {
  display: flex;
  margin-top: 20px;
  gap: 30px;
}

.image {
  width: 300px;
  border-radius: 10px;
}

.text {
  flex: 1;
}

.info span {
  background-color: #f3d0b8;
  padding: 6px 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.buttons {
  margin-top: 15px;
}

.delete {
  background-color: #e25e4c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 10px;
}